pyiceberg[pyarrow,duckdb,pandas]==0.9.1
matplotlib==3.10.5
scipy==1.15.3
duckdb-engine==0.17.0
grpcio==1.74.0
grpcio-status==1.74.0
googleapis-common-protos==1.70.0
protobuf>=6.32.0
pycolor==1.2.1
marimo==0.15.2
altair==5.5.0
polars==1.32.3
pyarrow==19.0.1
ibis-framework[pyspark,duckdb,flink]==10.8.0